doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		title Asurumaa
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/genericons/genericons.css')
		link(rel='stylesheet', href='/css/app.css')
		script(src='/js/jquery-2.0.3.min.js')
		script(src='/js/html5Preloader.js')
		script(src='/javascripts/davis.min.js')
		script(src='/js/bootstrap.min.js')
		script(src='/js/parsley.js')
		script(src='/templates.js')
		script(src='/js/pre.js')
		style .carousel-inner>.item>img, .carousel-inner>.item>a>img{width:100%}
	body(data-spy="scroll", data-target=".navbar-app")
		div.modal.fade(tabindex="-1", role="dialog", aria-hidden="true", style='z-index:9999')#modal-profile
			div.modal-dialog.modal-sm
				div.modal-content#modal-content
		block content
		section.container
			section.center
				section.btn-group.people-selection(data-toggle='buttons')#people-selection
			section.row
				br
				-each person in people
					section.col-md-3.person-new-card(data-type=person.type ? person.type.name : '', data-d=encodeURIComponent(JSON.stringify(person)))
						h6=person.designation
						section.row
							section.col-md-9
								h5
									strong=person.name
								-if(person.twitter && person.twitter != '')
									section.twitter-name
										strong @#{person.twitter}
							section.col-md-2
								-if(person.twitter && person.twitter != '')
									img(src=person.profile_image_url)
								-else								
									img(src='/files/medium' + person.images)
					//				
						section.col-md-3.person-card(data-d=encodeURIComponent(JSON.stringify(person)))
							section(style='background:url('+person.profile_banner_url+'/ipad);').person-card-cover
							section.person-card-cover
							section.row
								section.col-md-9
									h2=person.name
									h6
										strong=person.designation
								section.col-md-2
									img(src=person.profile_image_url)
			hr
			h2 news
			section.row
				-each article in news
					a(href=article.link, ).col-md-4
						section.row
							section.col-md-5
								img(src=article.picture).img-responsive
							section.col-md-7(style='padding-left:0;')
								h4(style='margin-top: 0;')=article.message
			footer.row
				section.col-md-3
					small &copy; 2014 Asurumaa
				section.col-md-3.pull-right.align-right
					small
						a(href='') Site Map
